<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Трошки про Django</title>
</head>
<body>
    <h2>Мета проекту:</h2>
    <h1>Django: Кращий друг веб-розробника</h1>
    <p>Django - це потужний і високорівневий фреймворк для веб-розробки,</p>
    <p>створений для спрощення процесу створення складних, безпечних і масштабованих веб-застосунків.</p>
    <p>Його було розроблено з метою дозволити розробникам зосередитися на написанні унікальних елементів додатка,</p>
    <p>а не на повторному винаході колеса.</p>

    <p>Бажаємо вам всього найкращого!</p>

</body>
</html>